.heading {
text-align:center;
font-family:courierfont;
font-size:160%;
color:FloralWhite;
background-color:DodgerBlue;
}

.headingTwo {
	font-size:27pt;
	color:DodgerBlue;
}

.paragraph {
	font-size:24pt;
	text-align:center;
}

